table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color:skyblue;
}
/*tbody {
  display: block;
  height: 500px;
  overflow: auto;
}
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}*/